---
layout: archive
permalink: /year-photo-archive/
title: "Photos"
author_profile: true
redirect_from:
  - /wordpress/photos/
---
{% assign photos_path = 'images/_photos' %}
<div class="gallery">
  {% for file in site.static_files %}
  {% if file.path contains photos_path %}
  <img src="{{ file.path | relative_url }}" alt="Photo" class="gallery__image">
  {% endif %}
  {% endfor %}
</div>

<style>
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 90%;
    margin: 20px auto;
  }
  .gallery__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  .gallery__image:hover {
    transform: scale(1.05);
  }
</style>